.logo {
  color: var(--color-php);
}

.back-btn {
  cursor: pointer;
  border: solid var(--color-php) 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--color-php);
  padding: 8px;
}

.back-btn:hover {
  opacity: 0.8;
}
